@import "tailwindcss";


@font-face {
    font-family: ArialRounded;
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/arial-rounded/arialroundedmtbold.ttf") format("truetype");
}

@theme {
    --font-arialrounded: ArialRounded;
}



.pushable {
    @apply rounded-lg;
    background: var(--color-blue-700);
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
}

.front {
    @apply rounded-lg;
    display: block;
    padding: 10px 0;
    font-size: 1.25rem;
    background: var(--color-blue-500);
    color: black;
    transform: translateY(-6px);
}

.pushableactive {
    transform: translateY(-2px);
}

.pushable:active .front {}